<script src="/javascripts/index.js"></script>
<link rel="stylesheet" href="/stylesheets/style.css">
<div id="formDiv">
    <form role="form" id="inputForm">
  <label for="message">Message:</label><br>
  <br>
  <input type="text" id="message" name="message" placeholder="Enter the message..."><br>
  <br>
  <div class="box-footer">
      <button type="button" id="btnSubmit" class="btn btn-primary" onclick="sendServer()">Submit</button>
  </div>
</form>
</div>
 
